body{
	background: url("../img/brushed_alu_dark.png");
}

.row{
	background: url("../img/mirrored_squares.png");
}

.main-nav{
	float: right;
}

/* Masthead */
header{
	position: relative;
}

header h1{
	position: absolute;
	left: 48px;
	bottom: 0;
	font-size: 2em;
}

/*Column 1 Styling*/
.tabs-content {
	border: 1px solid black;
	border-top: none;
	margin-top: -1px;
}

.tabs-content > .content.active{
	padding:16px;
}


.tabs-content > .content.active,
.tabs dd.active a,
.tabs dd.active a:hover{
	background: rgba(70,150,67,.5);
}

.tabs dd{
	border: 1px solid black;
}

.tabs dd > a{
	background: rgba(196,68,19,.5);
}

.tabs dd > a:hover{
	background: rgba(196,68,19,.8);
}

dd.active{
	border-bottom: none;
}

/*Column 2 Styling*/
.panel.callout{
	background: rgba(111, 175, 126, 0.47);
}

/*Modal*/
.reveal-modal-bg{
	background: orange;
}