body{
	background: url("../img/brushed_alu_dark.png");
	font-family: Helvetica, sans-serif;
}

section:first-of-type{
	padding-top: 30px;
}

.row{
	background: url("../img/mirrored_squares.png");
}

.main-nav{
	float: right;
	list-style: none;
}

.button{
	background: #C44413;
}

.button:hover{
	background: #469643;
}

.calendar td{
	height: 4.5em;
	width: 4.5em;
}

/*Text styles*/
h1{
	color: #C3262E;
	font-family: 'Federo', sans-serif;
}	

h2{
	color: #573D34;
	font-family: 'Share Tech', sans-serif;
}


/* Masthead */
header{
	position: relative;
}

header h1{
	position: absolute;
	left: 48px;
	bottom: 0;
	font-size: 2em;
}

/*Column 1 Styling*/
.tabs-content {
	border: 1px solid black;
	border-top: none;
	margin-top: -1px;
}

.tabs-content > .content.active{
	padding:16px;

}


.tabs-content > .content.active,
.tabs dd.active a,
.tabs dd.active a:hover,
.calendar tr:nth-child(odd) td:nth-child(odd),
.calendar thead tr:nth-child(2) th:nth-child(odd){
	background: rgba(70,150,67,.5);
}

.tabs dd{
	border: 1px solid black;
}

.tabs dd > a{
	background: rgba(93,66,55,.5);
}

.tabs dd > a:hover{
	background: rgba(93,66,55,.8);
}

dd.active{
	border-bottom: none;
}

/*Column 2 Styling*/
.panel.callout,
.calendar tr:nth-child(even) td:nth-child(even),
.calendar thead tr:nth-child(2) th:nth-child(even){
	background: rgba(196,68,19,.3);
	border:none;
}

/*Modal*/
.reveal-modal-bg{
	background: #C44413;
}